body {
    font-family: Arial, sans-serif;
    background-color: #dbf52d60;
}

.calendar {
    max-width: auto;
    margin: 0 auto;
    border: 1px solid #40f4eb;
    border-radius: 5px;
}

.header {
    background-color: #a6c645;
    text-align: center;
    padding: 10px;
}

.months {
    display: flex;
    flex-wrap: wrap;
}

.month {
    flex: 1;
    min-width: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #36e130;
    border-radius: 5px;
}

.month-header {
    background-color: #662bf1;
    text-align: center;
    padding: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #a54518;
}
